<div id="map" style="height: 400px;"></div>
<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: {lat: 31.963158, lng: 35.930359} 
    });

    {% for project in projects %}
    new google.maps.Marker({
        position: {lat: {{ project.latitude }}, lng: {{ project.longitude }}},
        map: map,
        title: "{{ project.name }}"
    });
    {% endfor %}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
